JWT_SECRET=dev-secret
MONGODB_URI=mongodb+srv://user:pass@cluster.mongodb.net/mfe_orders

USERS_API_URL=https://api.jsoning.com/mock/public/users
PRODUCTS_API_URL=https://api.jsoning.com/mock/public/products

NEXT_PUBLIC_AUTH_API_URL=http://localhost:4001
NEXT_PUBLIC_ORDER_API_URL=http://localhost:4002

NEXT_PUBLIC_AUTH_REMOTE=http://localhost:3001
NEXT_PUBLIC_PRODUCT_REMOTE=http://localhost:3002
NEXT_PUBLIC_CART_REMOTE=http://localhost:3003
NEXT_PUBLIC_ORDER_REMOTE=http://localhost:3004
